<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PhoneWord_TT.PhoneWord_TT" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="15" />
	<application android:label="PhoneWord_TT" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>